.nav-name {
  float: left;
  padding-left: 7%;
  padding-top: 2%;
}

.hamburger-menu {
  float: right;
  padding: 1%;
  padding-right: 7%;
}

.nav-bar ul {
  list-style: none;
  display: none;
}

.nav-bar:hover ul{
  display: block;
}

.nav-bar  li {
  float: right;
  padding: 2%;
}

.header {
  overflow: hidden;
}
