.nav-name {
  float: left;
  padding-left: 10%;
  padding-top: 2%;
}

.hamburger-menu {
  float: right;
  padding: 2%;
}

.nav-bar ul {
  list-style: none;
  display: none;
  padding-right: 7%;
}

.nav-bar:hover ul {
  display: block;
}

.nav-bar  li {
  float: right;
  padding: 2%;
}

.header {
  overflow: hidden;
}

.footer {
  text-align: center;
}

.logos img {
  margin-top: .2em;
  width: 15px;
  height: auto;
  opacity: .5;
}

@media (min-width:415px) {
  .hamburger-menu {
    display: none;
  }

  .nav-bar ul {
    display: block;
  }

}
