.nav-bar:hover ul {
  display: block;
}

.logos img {
  margin-top: .2em;
  width: 15px;
  height: auto;
  opacity: .5;
}

@media (min-width:415px) {
  .hamburger-menu {
    display: none;
  }

  .nav-bar ul {
    display: block;
  }

}
