/*    Header     */

#hamburger {
  height: 16px;
  width: auto;
}

.hamburger-menu {
  display: inline-block;
  float: right;
  margin-top: .2em;
  padding: .5em;
}

.nav-name {
  font-family: 'Raleway', sans-serif;
  float: left;
  margin-top: 2%;
  color: #0E79B2;
  font-size: 2em;
  letter-spacing: .1em;
  overflow: hidden;
}

.nav-bar ul {
  float: right;
  overflow: hidden;
  margin-top: .5em;
  width: 100%;
}

.nav-bar  li {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: .3em;
}

.hide {
  display: none;
}

a {
  color: #F0EFF4;
  text-decoration: none;
}

.active-link {
  color: #0E79B2;
}

/*    About Me Stuff   */

#about-text {
  margin-top: 2%;
  font-size: 1em;
  line-height: 1.5em;
}


/*  Portfolio Stuff   */
.project-titles {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2%;
  font-size: 1.2em;
}

.project-des {
  width: 300px;
  height: auto;
  margin: auto;
  font-size: .9em;
  line-height: 1.5em;
}

/*    Footer:   */
footer  h4 {
  letter-spacing: .08em;
  margin: .3em;
}

.logos img {
  max-width: 100%;
  width: 15px;
  height: auto;
  opacity: .5;
}

img:hover{
  opacity: 1;
}

.footer-name {
  font-size: .8em;
}
