@media (min-width: 415px) {
  .hamburger-menu, #hamburger {
    display: none;
  }

   .nav-bar ul {
    display: block;
    margin-top: 2%;
  }

  .nav-bar li {
    display: inline;
    padding: 0 1em;
    float: left;
  }

  #about-pic {
    max-width: 45%;
    float: left;
  }

  #about-text {
    max-width: 45%;
    float: right;
  }
}

/*    About Me Stuff:   ;*/

.about-me {
  margin: 5% auto;
  width: 80%;
  display: none;
  overflow: hidden;
}




/*    Portfolio Stuff   ;*/
.project-holder {
  text-align: center;
  overflow: hidden;
}

/*    Footer:   ;*/

.footer {
  text-align: center;
}
