/*    About Me Stuff:   ;*/

.about-me {
  margin: 5% auto;
  width: 80%;
  display: none;
  overflow: hidden;
}


/*    Portfolio Stuff   ;*/
.project-holder {
  width: 80%;
  margin: 3% auto;
  text-align: center;
  overflow: hidden;
}

project {
  display: inline-block;
  max-width: 360px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*    Footer:   ;*/

footer {
  margin-top: 1%;
  text-align: center;
}

/*    Media Queries   */

@media (min-width: 415px) {
  .hamburger-menu, #hamburger {
    display: none;
  }

   .nav-bar ul {
    width: auto;
    float: right;
    display: inline-block;
    margin-top: 2%;
  }

  .nav-bar li {
    display: inline;
    padding: 0 1em;
    float: left;
  }

  project {
    max-width: 550px;
    max-height: 450px;
    margin: 1% 2%;
    vertical-align: top;
  }
}

@media (min-width: 1100px) {
  .slideshow {
    max-width: 65%;
    float: left;
  }

  #about-text {
    margin-top: 0;
    font-size: 1.2em;
    letter-spacing: .05em;
    line-height: 2em;
    max-width: 30%;
    float: right;
  }
}
