/*    Header     */

.header {
  overflow: hidden;
}

.nav-name {
  float: left;
  margin-left: 7%;
  margin-top: 2%;
}

@media (min-width:415px) {
  .hamburger-menu {
    display: none;
  }

  .nav-bar ul {
    display: block;
    float: right;
    padding-top: 2%;
  }

  .nav-bar li {
    float: left;
  }
}

/*    About Me Stuff:   ;*/
.about-me{
  margin-top: 5%;
  text-align: center;
}

/*    Portfolio Stuff   ;*/

.project {
  text-align: center;
}

@media (min-width: 700px) {
  .project-holder {
    text-align: center;
  }
  .project {
    float: none;
    display: inline-block;
    padding: 2%;
  }
}

/*    Footer:   ;*/

.footer {
  text-align: center;
}
