/*    Header     */

#hamburger {
  height: 16px;
  width: auto;
}

.hamburger-menu {
  display: inline-block;
  float: right;
  padding: 2%;
}

.nav-bar ul {
  list-style: none;
  display: none;
  padding-right: 7%;
}

.nav-bar  li {
  padding: 2%;
  style: block;
}

.nav-bar:click ul {
  display: block;
  text-align: center;
  clear: both;
}

.logos img {
  max-width: 100%;
  margin-top: .2em;
  width: 15px;
  height: auto;
  opacity: .5;
}

img:hover{
  opacity: 1;
}

/*    About Me Stuff   */
#about-pic {
  max-width: 50%;
}

.about-me-titles {
  margin-bottom: 1%;
}


/*  Portfolio Stuff   */
.project-img {
  width: 320px;
  height: auto;
}

.project-titles {
  margin-bottom: 1%;
}
