/*    Header     */

#hamburger {
  height: 16px;
  width: auto;
}

.hamburger-menu {
  display: inline-block;
  float: right;
  margin-right: 15%;
  margin-top: .2em;
  padding: .5em;
}

.nav-name {
  float: left;
  margin-left: 15%;
  margin-top: 2%;
}

.nav-bar ul {
  display: none;
  float: right;
  overflow: hidden;
  margin-right: 15%;
  margin-top: 10%;
}

.nav-bar  li {
  margin: 3%;
  padding: .2em;
  text-align: center;
  style: block;
}

.logos img {
  max-width: 100%;
  margin-top: .2em;
  width: 15px;
  height: auto;
  opacity: .5;
}

img:hover{
  opacity: 1;
}

/*    About Me Stuff   */
#about-pic {
  max-width: 80%;
}

.about-me-titles {
  margin-bottom: 1%;
}


/*  Portfolio Stuff   */
.project-img {
  max-width: 80%;
}

.project-titles {
  margin-bottom: 1%;
}

.project-des {
  width: 300px;
  height: auto;
  margin: auto;
}
